.team {
  padding: 0;
  list-style: none;
}

.team-member {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  text-align: center;
}

.team-member figure {
  margin: 5%;
}

.team img {
  width: 100%;
}

input#demo {
  background-color: #fff;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  box-shadow: none;
  line-height: 1.2em;
  font-size: 100%;
  font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
}
@media (min-width: 38em) {
  input#demo {
    border-radius: .3rem;
  }
}

form#demo-form {
  margin: 0 auto;
  text-align: center;
}

.nav-toc-heading {
  color: rgba(255,255,255,.6);
  padding: .5rem 1rem;
}
